services:
  backend:
    build:
      context: ./
      target: development
      dockerfile: app/infrastructure/Dockerfile
    container_name: backend
    command: sh -c "uvicorn app.main:get_app --factory --host 0.0.0.0 --port 8000 --reload"
    ports:
      - "8000:8000"
    volumes:
      - ./:/code

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: gandalf
      POSTGRES_PASSWORD: ring
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
